
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  color: #333;
  overflow: hidden;
}


#main-container {
  position: absolute;
  width: 300px;
  height: 250px;

  border: 1px solid black;
  box-sizing: border-box;

  background: #FFF;
}



:focus {
  outline:none;
}
::-moz-focus-inner {
  border:0;
}



#preloadShape {
  position: absolute;
  width:100%;
  height:100%;
  left:0%;
  top:0%;
  background-color: #FFF;
  cursor: pointer;
  overflow: hidden;
  z-index: 500;

}


#preloader {
  position: absolute;
  width:100%;
  height:100%;
  left:0%;
  top:0%;
  background-color: #FFF;
  cursor: pointer;
  overflow: hidden;
  z-index: 500;

}

#preloadColors {
  display: block;
  position: absolute;
  left:0%;
  top:0%;
  width: 700px;
  height:250px;
  -webkit-animation:movingbox 1.2s infinite ;
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-timing-function: linear;

}
#preloadImage {
  position: absolute;
  background: url(HD-logo-LG.png);
  width:100%;
  height:100%;
  left:0%;
  top:0%;
  cursor: pointer;
  overflow: hidden;
  z-index: 500;
}

.block {
    height: 100%;
    width: 95px;
    left:0%;
    top: 0%;
    float: left;
    display: block;
}




@-webkit-keyframes movingbox{
  0%{left:0;}
  100%{left:-390px;}


}






 


    